/* background red is #c72e2d */
/* fixed background color is #D70014 */
/* menu red is #e73430 */
/* logo font malayam MN reg */
/* rest of fonts Avenir */

body {
  background-color: #D70014;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: white;
}

button.navbar-toggle {
  color: white;
}

.navbar-toggle:hover:before, .navbar-toggle:focus:before, .navbar-toggle:before {
  color: white;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #e73430;
  min-height: 56px;
  font-family: 'Vollkorn', serif;
  color: white;
}

a.navbar-brand {
  padding-top: 11px;
  font-size: 40px;
}

.navbar-collapse {
  border-color: white;
}

form.navbar-form {
  border-color: white !important;
}

.user-profile-content {
  padding-left: 18px;
  padding-right: 18px;
  background-color: white;
  min-height: 100vh;
  color: #c72e2d;
}

.profile-picture {
  width: 100%;
}

.goal-progress {
  text-align: right;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 10px;
}

.progress {
  margin-bottom: 4px;
}

.progress-bar {
  background-color: #c72e2d;
}

.static-panel {
  width: 100%;
}

.donate-btn {
  align: center;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: #c72e2d;
  max-width: 160px;
}
